<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accueil</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Transport Reservation</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
          <a class="nav-link" href="/home">Accueil <span class="sr-only">(current) </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reservation">Réservez votre ticket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/panier">Votre panier</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/account">Mon compte </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Bienvenue sur notre site de résérvation de billets de trains</h1>
      <p class="lead">Nous vous apportons des billets de trains au meilleur prix et avec une assurance hors du commun.</p>
      <hr class="my-4">
      <p>Explorez notre site et réservez vos billets au meilleur prix</p>
      <a class="btn btn-primary btn-lg" href="/reservation" role="button">Reservez vos billets</a>
    </div>
  </div>


</body>
</html>
