<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product List</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <h4><a href="/vider_panier">Vider votre panier</a></h4>
    <div class="container">
        <div class="row">
            <% if(reservations == undefined || reservations==null || reservations.length== 0 ) {%>
            <h4>Vous n'avez pas de reservations ...</h4>  
           <%}
           else {
           %>   
              <% reservations.forEach(reservation=> {%><div class="col-md-3">
                  <div class="card">
                  <div class="card-body">
                      <label for=""> Date de réservation : </label>
                      <h5 class="card-title"><%=reservation.dateDepart%></h5>
                      <h5 class="card-title"><%=reservation.dateArrivee%></h5>
                   
                      <p class="card-text"><%=reservation.total%></p>
                      
                      <a class="btn btn-primary delete-from-basket" href="/panier/delete?id=<%=reservation.id%>">Delete reservation</a>
                      </div>
                  </div>
                </div>
      
              <%}) }%>
        </div>
        <br><br><br>
        <a class="btn btn-primary" href="/payement">Finish your reservation</a>
     
    </div> 
</body>
</html>