<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transportation Company</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="/css/style.css" rel="stylesheet">
  <style>
    /* Optional CSS styling */
    /* Add your custom CSS styles here */
    footer {
      background-color: #343a40;
      color: white;
      padding: 20px 0;
      text-align: center;
      
    }
  </style>
</head>
<body>
  

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Transport Company</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Acceuil </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reservation">Réservez votre ticket</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/panier">Mon Panier <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
  </nav>
  <div class="container mt-5">
    <h1>Paiement :</h1>

       <p class="text-center">Total :<%= totalG %> €</p>
          
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2>Payment Details</h2>
      <form action="/print" method="post">
        <div class="form-group">
          <label for="cardNumber">Card Number</label>
          <input type="text" class="form-control" id="cardNumber" placeholder="Enter card number" required>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="expiryDate">Date d'expiration Date</label>
            <input type="text" class="form-control" id="expiryDate" placeholder="MM/YY" required>
          </div>
          <div class="form-group col-md-6">
            <label for="cvv">CVV</label>
            <input type="text" class="form-control" id="cvv" placeholder="CVV" required>
          </div>
        </div>
        <div class="form-group">
          <label for="cardholderName">Nom du titulaire de la carte</label>
          <input type="text" class="form-control" id="cardholderName" name="cardholderName" placeholder="Entrez votre nom et prénom" required>
        </div>

        <div>
          <label for="abonne"> </label>

        </div>
       
        <button type="submit" class="btn btn-primary btn-block">Payer</button>
      </form>
    </div>
  </div>
</div>
  
  
  





</div>

<script>

  const options = document.querySelectorAll("input[type='checkbox']")  // la liste de inputs checkbox
  const total = document.getElementById('total') // la balise de  ici attention 
  options.forEach(option=>{
    option.addEventListener('change',()=>{
    
    if (option.checked) {
      total.innerHTML = Number(total.innerHTML) + Number(option.value)
   }
   else
   {
    total.innerHTML = Number(total.innerHTML) - Number(option.value)

   }
    }

    )
   

  })
  
</script>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

